In [2]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('/content/supershops.csv.csv')

In [5]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [6]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [7]:
df.Transport.mean()

215331.7324489796

In [8]:
df.Transport.median()

214634.81

In [9]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()
df5 = df.copy()
df6 = df.copy()
df7 = df.copy()
df8 = df.copy()
df9 = df.copy()
df10 = df.copy()
df11 = df.copy()
df12 = df.copy()

In [20]:
df.dropna(inplace=True)

In [21]:
df.shape

(49, 5)

In [22]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [23]:
df2.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

handle nan value

In [24]:
df2.Transport = df2.Transport.fillna(df2.Transport.mean())

In [25]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [26]:
df2

    Marketing Spend  Administration      Transport     Area     Profit
0         114523.61       136897.80  471784.100000    Dhaka  192261.83
1         162597.70       151377.59  443898.530000      Ctg  191792.06
2         153441.51       101145.55  407934.540000  Rangpur  191050.39
3         144372.41       118671.85  383199.620000    Dhaka  182901.99
4         142107.34        91391.77  366168.420000  Rangpur  166187.94
5         131876.90        99814.71  362861.360000    Dhaka  156991.12
6         134615.46       147198.87  127716.820000      Ctg  156122.51
7         130298.13       145530.06  323876.680000  Rangpur  155752.60
8         120542.52       148718.95  311613.290000    Dhaka  152211.77
9         123334.88       108679.17  304981.620000      Ctg  149759.96
10        101913.08       110594.11  229160.950000  Rangpur  146121.95
11        100671.96        91790.61  249744.550000      Ctg  144259.40
12         93863.75       127320.38  249839.440000  Rangpur  141585.52
13         91992.39       135495.07  252664.930000      Ctg  134307.35
14        119943.24       156547.42  256512.920000  Rangpur  132602.65
15        165349.20       122616.84  261776.230000    Dhaka  129917.04
16         78013.11       121597.55  264346.060000      Ctg  126992.93
17         94657.16       145077.58  282574.310000    Dhaka  125370.37
18         91749.16       114175.79  294919.570000  Rangpur  124266.90
19         86419.70       153514.11  215331.732449    Dhaka  122776.86
20         76253.86       113867.30  298664.470000      Ctg  118474.03
21         78389.47       153773.43  299737.290000    Dhaka  111313.02
22         73994.56       122782.75  303319.260000  Rangpur  110352.25
23         67532.53       105751.03  304768.730000  Rangpur  108733.99
24         77044.01        99281.34  140574.810000    Dhaka  108552.04
25         64664.71       139553.16  137962.620000      Ctg  107404.34
26         75328.87       144135.98  134050.070000  Rangpur  105733.54
27         72107.60       127864.55  353183.810000    Dhaka  105008.31
28         66051.52       182645.56  118148.200000  Rangpur  103282.38
29         65605.48       153032.06  107138.380000    Dhaka  101004.64
30         61994.48       115641.28   91131.240000  Rangpur   99937.59
31         61136.38       152701.92   88218.230000    Dhaka   97483.56
32         63408.86       129219.61   46085.250000      Ctg   97427.84
33         55493.95       103057.49  214634.810000  Rangpur   96778.92
34         46426.07       157693.92  210797.670000      Ctg   96712.80
35         46014.02        85047.44  205517.640000    Dhaka   96479.51
36         28663.76       127056.21  201126.820000  Rangpur   90708.19
37         44069.95        51283.14  197029.420000      Ctg   89949.14
38         20229.59        65947.93  185265.100000    Dhaka   81229.06
39         38558.51        82982.09  174999.300000      Ctg   81005.76
40         28754.33       118546.05  172795.670000      Ctg   78239.91
41         27892.92        84710.77  164470.710000  Rangpur   77798.83
42         23640.93        96189.63  148001.110000      Ctg   71498.49
43         15505.73       127382.30   35534.170000    Dhaka   69758.98
44         22177.74       154806.14   28334.720000      Ctg   65200.33
45          1000.23       124153.04    1903.930000    Dhaka   64926.08
46          1315.46       115816.21  297114.460000  Rangpur   49490.75
47             0.00       135426.92       0.000000      Ctg   42559.73
48           542.05        51743.15       0.000000    Dhaka   35673.41
49             0.00       116983.80   45173.060000      Ctg   14681.40

lablel encoding

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
le = LabelEncoder()

In [29]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [30]:
df.Area = le.fit_transform(df['Area'])

In [31]:
df

    Marketing Spend  Administration  Transport  Area     Profit
0         114523.61       136897.80  471784.10     1  192261.83
1         162597.70       151377.59  443898.53     0  191792.06
2         153441.51       101145.55  407934.54     2  191050.39
3         144372.41       118671.85  383199.62     1  182901.99
4         142107.34        91391.77  366168.42     2  166187.94
5         131876.90        99814.71  362861.36     1  156991.12
6         134615.46       147198.87  127716.82     0  156122.51
7         130298.13       145530.06  323876.68     2  155752.60
8         120542.52       148718.95  311613.29     1  152211.77
9         123334.88       108679.17  304981.62     0  149759.96
10        101913.08       110594.11  229160.95     2  146121.95
11        100671.96        91790.61  249744.55     0  144259.40
12         93863.75       127320.38  249839.44     2  141585.52
13         91992.39       135495.07  252664.93     0  134307.35
14        119943.24       156547.42  256512.92     2  132602.65
15        165349.20       122616.84  261776.23     1  129917.04
16         78013.11       121597.55  264346.06     0  126992.93
17         94657.16       145077.58  282574.31     1  125370.37
18         91749.16       114175.79  294919.57     2  124266.90
20         76253.86       113867.30  298664.47     0  118474.03
21         78389.47       153773.43  299737.29     1  111313.02
22         73994.56       122782.75  303319.26     2  110352.25
23         67532.53       105751.03  304768.73     2  108733.99
24         77044.01        99281.34  140574.81     1  108552.04
25         64664.71       139553.16  137962.62     0  107404.34
26         75328.87       144135.98  134050.07     2  105733.54
27         72107.60       127864.55  353183.81     1  105008.31
28         66051.52       182645.56  118148.20     2  103282.38
29         65605.48       153032.06  107138.38     1  101004.64
30         61994.48       115641.28   91131.24     2   99937.59
31         61136.38       152701.92   88218.23     1   97483.56
32         63408.86       129219.61   46085.25     0   97427.84
33         55493.95       103057.49  214634.81     2   96778.92
34         46426.07       157693.92  210797.67     0   96712.80
35         46014.02        85047.44  205517.64     1   96479.51
36         28663.76       127056.21  201126.82     2   90708.19
37         44069.95        51283.14  197029.42     0   89949.14
38         20229.59        65947.93  185265.10     1   81229.06
39         38558.51        82982.09  174999.30     0   81005.76
40         28754.33       118546.05  172795.67     0   78239.91
41         27892.92        84710.77  164470.71     2   77798.83
42         23640.93        96189.63  148001.11     0   71498.49
43         15505.73       127382.30   35534.17     1   69758.98
44         22177.74       154806.14   28334.72     0   65200.33
45          1000.23       124153.04    1903.93     1   64926.08
46          1315.46       115816.21  297114.46     2   49490.75
47             0.00       135426.92       0.00     0   42559.73
48           542.05        51743.15       0.00     1   35673.41
49             0.00       116983.80   45173.06     0   14681.40

In [32]:
df1

    Marketing Spend  Administration  Transport     Area     Profit
0         114523.61       136897.80  471784.10    Dhaka  192261.83
1         162597.70       151377.59  443898.53      Ctg  191792.06
2         153441.51       101145.55  407934.54  Rangpur  191050.39
3         144372.41       118671.85  383199.62    Dhaka  182901.99
4         142107.34        91391.77  366168.42  Rangpur  166187.94
5         131876.90        99814.71  362861.36    Dhaka  156991.12
6         134615.46       147198.87  127716.82      Ctg  156122.51
7         130298.13       145530.06  323876.68  Rangpur  155752.60
8         120542.52       148718.95  311613.29    Dhaka  152211.77
9         123334.88       108679.17  304981.62      Ctg  149759.96
10        101913.08       110594.11  229160.95  Rangpur  146121.95
11        100671.96        91790.61  249744.55      Ctg  144259.40
12         93863.75       127320.38  249839.44  Rangpur  141585.52
13         91992.39       135495.07  252664.93      Ctg  134307.35
14        119943.24       156547.42  256512.92  Rangpur  132602.65
15        165349.20       122616.84  261776.23    Dhaka  129917.04
16         78013.11       121597.55  264346.06      Ctg  126992.93
17         94657.16       145077.58  282574.31    Dhaka  125370.37
18         91749.16       114175.79  294919.57  Rangpur  124266.90
20         76253.86       113867.30  298664.47      Ctg  118474.03
21         78389.47       153773.43  299737.29    Dhaka  111313.02
22         73994.56       122782.75  303319.26  Rangpur  110352.25
23         67532.53       105751.03  304768.73  Rangpur  108733.99
24         77044.01        99281.34  140574.81    Dhaka  108552.04
25         64664.71       139553.16  137962.62      Ctg  107404.34
26         75328.87       144135.98  134050.07  Rangpur  105733.54
27         72107.60       127864.55  353183.81    Dhaka  105008.31
28         66051.52       182645.56  118148.20  Rangpur  103282.38
29         65605.48       153032.06  107138.38    Dhaka  101004.64
30         61994.48       115641.28   91131.24  Rangpur   99937.59
31         61136.38       152701.92   88218.23    Dhaka   97483.56
32         63408.86       129219.61   46085.25      Ctg   97427.84
33         55493.95       103057.49  214634.81  Rangpur   96778.92
34         46426.07       157693.92  210797.67      Ctg   96712.80
35         46014.02        85047.44  205517.64    Dhaka   96479.51
36         28663.76       127056.21  201126.82  Rangpur   90708.19
37         44069.95        51283.14  197029.42      Ctg   89949.14
38         20229.59        65947.93  185265.10    Dhaka   81229.06
39         38558.51        82982.09  174999.30      Ctg   81005.76
40         28754.33       118546.05  172795.67      Ctg   78239.91
41         27892.92        84710.77  164470.71  Rangpur   77798.83
42         23640.93        96189.63  148001.11      Ctg   71498.49
43         15505.73       127382.30   35534.17    Dhaka   69758.98
44         22177.74       154806.14   28334.72      Ctg   65200.33
45          1000.23       124153.04    1903.93    Dhaka   64926.08
46          1315.46       115816.21  297114.46  Rangpur   49490.75
47             0.00       135426.92       0.00      Ctg   42559.73
48           542.05        51743.15       0.00    Dhaka   35673.41
49             0.00       116983.80   45173.06      Ctg   14681.40

In [33]:
df2.columns

Index(['Marketing Spend', 'Administration', 'Transport', 'Area', 'Profit'], dtype='object')

loop apply for colunms

In [34]:
for column in df2.columns:
    if df2[column].dtype == np.number:
       continue
    else:
      df2[column] = le.fit_transform(df2[column])

In [35]:
df2.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     1  192261.83
1        162597.70       151377.59  443898.53     0  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     1  182901.99
4        142107.34        91391.77  366168.42     2  166187.94

In [36]:
from pandas.core.dtypes.common import is_numeric_dtype

In [37]:
for col in df3.columns:
    if is_numeric_dtype(df3[col]):
        continue
    df3[col]=le.fit_transform(df3[col])

In [38]:
df3

    Marketing Spend  Administration  Transport  Area     Profit
0         114523.61       136897.80  471784.10     1  192261.83
1         162597.70       151377.59  443898.53     0  191792.06
2         153441.51       101145.55  407934.54     2  191050.39
3         144372.41       118671.85  383199.62     1  182901.99
4         142107.34        91391.77  366168.42     2  166187.94
5         131876.90        99814.71  362861.36     1  156991.12
6         134615.46       147198.87  127716.82     0  156122.51
7         130298.13       145530.06  323876.68     2  155752.60
8         120542.52       148718.95  311613.29     1  152211.77
9         123334.88       108679.17  304981.62     0  149759.96
10        101913.08       110594.11  229160.95     2  146121.95
11        100671.96        91790.61  249744.55     0  144259.40
12         93863.75       127320.38  249839.44     2  141585.52
13         91992.39       135495.07  252664.93     0  134307.35
14        119943.24       156547.42  256512.92     2  132602.65
15        165349.20       122616.84  261776.23     1  129917.04
16         78013.11       121597.55  264346.06     0  126992.93
17         94657.16       145077.58  282574.31     1  125370.37
18         91749.16       114175.79  294919.57     2  124266.90
19         86419.70       153514.11        NaN     1  122776.86
20         76253.86       113867.30  298664.47     0  118474.03
21         78389.47       153773.43  299737.29     1  111313.02
22         73994.56       122782.75  303319.26     2  110352.25
23         67532.53       105751.03  304768.73     2  108733.99
24         77044.01        99281.34  140574.81     1  108552.04
25         64664.71       139553.16  137962.62     0  107404.34
26         75328.87       144135.98  134050.07     2  105733.54
27         72107.60       127864.55  353183.81     1  105008.31
28         66051.52       182645.56  118148.20     2  103282.38
29         65605.48       153032.06  107138.38     1  101004.64
30         61994.48       115641.28   91131.24     2   99937.59
31         61136.38       152701.92   88218.23     1   97483.56
32         63408.86       129219.61   46085.25     0   97427.84
33         55493.95       103057.49  214634.81     2   96778.92
34         46426.07       157693.92  210797.67     0   96712.80
35         46014.02        85047.44  205517.64     1   96479.51
36         28663.76       127056.21  201126.82     2   90708.19
37         44069.95        51283.14  197029.42     0   89949.14
38         20229.59        65947.93  185265.10     1   81229.06
39         38558.51        82982.09  174999.30     0   81005.76
40         28754.33       118546.05  172795.67     0   78239.91
41         27892.92        84710.77  164470.71     2   77798.83
42         23640.93        96189.63  148001.11     0   71498.49
43         15505.73       127382.30   35534.17     1   69758.98
44         22177.74       154806.14   28334.72     0   65200.33
45          1000.23       124153.04    1903.93     1   64926.08
46          1315.46       115816.21  297114.46     2   49490.75
47             0.00       135426.92       0.00     0   42559.73
48           542.05        51743.15       0.00     1   35673.41
49             0.00       116983.80   45173.06     0   14681.40

One hot encoding

In [39]:
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [40]:
df.nunique()

Marketing Spend    48
Administration     49
Transport          48
Area                3
Profit             49
dtype: int64

In [41]:
dummy = pd.get_dummies(df4['Area'])

In [42]:
dummy.head()

   Ctg  Dhaka  Rangpur
0    0      1        0
1    1      0        0
2    0      0        1
3    0      1        0
4    0      0        1

In [44]:
df4=df4.drop('Area', axis=1)

In [45]:
df4.head()

   Marketing Spend  Administration  Transport     Profit
0        114523.61       136897.80  471784.10  192261.83
1        162597.70       151377.59  443898.53  191792.06
2        153441.51       101145.55  407934.54  191050.39
3        144372.41       118671.85  383199.62  182901.99
4        142107.34        91391.77  366168.42  166187.94

In [46]:
dummy = pd.get_dummies(df5['Area'], drop_first=True)

In [47]:
dummy.head()

   Dhaka  Rangpur
0      1        0
1      0        0
2      0        1
3      1        0
4      0        1

In [48]:
new_df = pd.concat([df4, dummy], axis=1)

In [49]:
new_df.head()

   Marketing Spend  Administration  Transport     Profit  Dhaka  Rangpur
0        114523.61       136897.80  471784.10  192261.83      1        0
1        162597.70       151377.59  443898.53  191792.06      0        0
2        153441.51       101145.55  407934.54  191050.39      0        1
3        144372.41       118671.85  383199.62  182901.99      1        0
4        142107.34        91391.77  366168.42  166187.94      0        1

In [50]:
df5.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [51]:
from pandas._libs.tslibs import is_null_datetimelike
for col in df5.columns:
    if is_numeric_dtype(df6[col]):
         continue
    one = pd.get_dummies(df5[col],drop_first=True, prefix='area')
    df5.drop(df5[[col]], axis=1, inplace=True)
    df5 = pd.concat([df5,one], axis=1)

In [52]:
df5.head()

,Marketing Spend,Administration,Transport,Profit,area_Dhaka,area_Rangpur
0,114523.61,136897.80,471784.10,192261.83,1,0
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1
3,144372.41,118671.85,383199.62,182901.99,1,0
4,142107.34,91391.77,366168.42,166187.94,0,1

Ordinal Encoder

In [53]:
df6.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [54]:
df6.Area.unique()

array(['Dhaka', 'Ctg', 'Rangpur'], dtype=object)

In [55]:
from sklearn.preprocessing import OrdinalEncoder

In [56]:
city = ['Dhaka', 'Ctg', 'Rangpur']

In [57]:

ordinal = OrdinalEncoder(categories=[city])
encoded = ordinal.fit_transform(df6[['Area']])

In [58]:
encoded

array([[0.],
       [1.],
       [2.],
       [0.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [1.],
       [2.],
       [1.],
       [2.],
       [0.],
       [1.],
       [0.],
       [2.],
       [0.],
       [1.],
       [0.],
       [2.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [2.],
       [0.],
       [2.],
       [0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.],
       [1.],
       [0.],
       [1.],
       [1.],
       [2.],
       [1.],
       [0.],
       [1.],
       [0.],
       [2.],
       [1.],
       [0.],
       [1.]])

In [59]:
new_area = pd.DataFrame(encoded, columns=['area'])

In [60]:
new_area.head()

   area
0   0.0
1   1.0
2   2.0
3   0.0
4   2.0

In [61]:
df6.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [62]:
df6.Area = new_area

In [63]:
df6.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10   0.0  192261.83
1        162597.70       151377.59  443898.53   1.0  191792.06
2        153441.51       101145.55  407934.54   2.0  191050.39
3        144372.41       118671.85  383199.62   0.0  182901.99
4        142107.34        91391.77  366168.42   2.0  166187.94

In [64]:
from numpy.lib.arraysetops import unique
cols = ['Area']
for col in cols:
    unique = df7[col].unique()
    df7[col] = OrdinalEncoder(categories=[unique]).fit_transform(df7[[col]])

In [65]:
df7.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10   0.0  192261.83
1        162597.70       151377.59  443898.53   1.0  191792.06
2        153441.51       101145.55  407934.54   2.0  191050.39
3        144372.41       118671.85  383199.62   0.0  182901.99
4        142107.34        91391.77  366168.42   2.0  166187.94

In [66]:
df8.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [67]:
df8.Area.unique()

array(['Dhaka', 'Ctg', 'Rangpur'], dtype=object)

In [68]:
df8.Area = df8.Area.replace(['Dhaka', 'Ctg', 'Rangpur'],[1,2,0])

In [69]:
df8.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     1  192261.83
1        162597.70       151377.59  443898.53     2  191792.06
2        153441.51       101145.55  407934.54     0  191050.39
3        144372.41       118671.85  383199.62     1  182901.99
4        142107.34        91391.77  366168.42     0  166187.94